<!DOCTYPE html>
<html>
<head>
  <title>Active blocks</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "action_blocks/application", media: "all" %>
  <%= javascript_include_tag "action_blocks/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
